html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --BackGround: #2b2b2b;
  --BackGround-Secondary: #3b3b3b;
  --CallToAction: #a259ff;
  --CaptionAndLabelText: #858584;
  --White: #ffffff;
}

body {
  background-color: var(--BackGround);
}

.Container {
  width: 1050px;
}

.Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
}
.Navigation .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.Navigation .Logo #MarketPlace-Name {
  padding-left: 5px;
  padding-top: 5px;
}
.Navigation .Navigation_Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.Navigation .Navigation_Menu a {
  height: 46px;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  gap: 12px;
  border-radius: 20px;
}
.Navigation .Navigation_Menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0px 30px;
  background-color: var(--CallToAction);
  gap: 12px;
  border-radius: 20px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Navigation .Navigation_Menu button p {
  color: var(--White);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
}
.Navigation .Navigation_Menu button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}