html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --BackGround: #2b2b2b;
  --BackGround-Secondary: #3b3b3b;
  --CallToAction: #a259ff;
  --CaptionAndLabelText: #858584;
  --White: #ffffff;
}

.Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  padding: 20px 50px;
}
.Navigation .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.Navigation .Logo #MarketPlace-Name {
  padding-left: 5px;
  padding-top: 5px;
  cursor: pointer;
}
.Navigation .Navigation_Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  gap: 10px;
}
.Navigation .Navigation_Menu a {
  height: 46px;
  color: var(--White);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  padding: 0px 20px;
  gap: 12px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Navigation .Navigation_Menu a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.SignUp-Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  height: 60px;
  padding: 0px 30px;
  background-color: 12px;
  gap: normal;
  border-radius: 20px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--CallToAction);
}
.SignUp-Btn p {
  color: var(--White);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
.SignUp-Btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.GetStarted-Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  height: 60px;
  padding: 0px 50px;
  background-color: 12px;
  gap: normal;
  border-radius: 20px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--CallToAction);
}
.GetStarted-Btn p {
  color: var(--White);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
.GetStarted-Btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.AdditionalNumber-Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  padding: 32px 15px;
  background-color: 10px;
  gap: normal;
  border-radius: 20px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--CallToAction);
}
.AdditionalNumber-Btn p {
  color: var(--White);
  font-family: Space Mono;
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
.AdditionalNumber-Btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body {
  background-color: var(--BackGround);
}

html {
  color: var(--White);
}

.Container {
  width: 1050px;
}

#Hero_Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  padding: 80px 195px;
  gap: 30px;
}
#Hero_Section .Hero_Frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .HeadlineAndSubhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 510px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .HeadlineAndSubhead h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  font-family: Work Sans;
  font-size: 67px;
  font-weight: 600;
  line-height: 110%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  text-transform: capitalize;
  -ms-flex-direction: column;
      flex-direction: column;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .HeadlineAndSubhead p {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo {
  width: 510px;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  border-radius: 20px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .TotalSale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .TotalSale h1 {
  font-family: Space Mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .TotalSale p {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .Auctions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .Auctions h1 {
  font-family: Space Mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .Auctions p {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .Artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .Artists h1 {
  font-family: Space Mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .Frame_TextAndButtons .AdditionalInfo .Artists p {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .HighlightedNFT {
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#Hero_Section .Hero_Frame .HighlightedNFT .NFTFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 109px;
  width: 510px;
  padding: 20px;
  gap: 10px;
  border-radius: 0px 0px 20px 20px;
  background-color: var(--BackGround-Secondary);
}
#Hero_Section .Hero_Frame .HighlightedNFT .NFTFrame p {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
#Hero_Section .Hero_Frame .HighlightedNFT .NFTFrame .Artist-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}
#Hero_Section .Hero_Frame .HighlightedNFT .NFTFrame .Artist-Card p {
  cursor: pointer;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}

#TrendingCollection_Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding: 80px 0px;
  background-color: var(--BackGround);
}
#TrendingCollection_Section .Section-Headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#TrendingCollection_Section .Section-Headline .Heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
#TrendingCollection_Section .Section-Headline .Heading h1 {
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#TrendingCollection_Section .Section-Headline .Subhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
#TrendingCollection_Section .Section-Headline .Subhead p {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
  letter-spacing: capitalize;
  text-transform: capitalize;
}
#TrendingCollection_Section .CardCollection-Row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  width: 330px;
  gap: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .PhotosAndAdditional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .PhotosAndAdditional img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .PhotosAndAdditional img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .PhotosAndAdditional .AdditionalFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .CollectionInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .CollectionInfo h1 {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .CollectionInfo .Artist-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}
#TrendingCollection_Section .CardCollection-Row .CollectionCard .CollectionInfo .Artist-Card p {
  cursor: pointer;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  font-style: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}