#MarketPlace_Section {
  @include Flexed(flex, center, flex-start, column);
  width: 1280px;

  .Headline-Subhead {
    @include Flex-ItemsAndPosition(flex, center, column);
    padding: 80px 0px;
    justify-content: center;
    margin: auto;
    gap: 40px;
    margin-left: 250px;

    @include for-size(tablet) {
      margin-left: 0px;
      padding: 60px 0px;
    }

    @include for-size(phone) {
      padding: 40px 0px;
    }

    .HeadlineAndSubhead {
      @include Flex-ItemsAndPosition(flex, flex-start, column);
      gap: 30px;

      @include for-size(tablet) {
        width: 680px;
      }

      @include for-size(phone) {
        margin-right: 400px;
        width: 315px;
      }

      .Header-Frame {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 10px;

        h1 {
          @include text-formatter(Work Sans, 51px, 600, 110%);

          @include for-size(tablet) {
            @include text-formatter(Work Sans, 38px, 600, 120%);
          }

          @include for-size(phone) {
            @include text-formatter(Work Sans, 28px, 600, 140%);
          }
        }

        p {
          @include text-formatter(Work Sans, 22px, 400, 140%);

          @include for-size(tablet) {
            @include text-formatter(Work Sans, 16px, 400, 140%);
          }
        }
      }

      .Header {
        @include Flexed(flex, center, center, column);
        height: 60px;
        padding: 12px 0px;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid var(--BackGround-Secondary);

        @include for-size(tablet) {
          width: 680px;
        }

        @include for-size(phone) {
          width: 315px;
        }

        .Headers {
          @include Flexed(flex, space-between, flex-start, row);
          padding: 0px 20px;

          @include for-size(tablet) {
            width: 680px;
          }

          @include for-size(phone) {
            width: 315px;
          }
        }
      }
    }
  }

  .MarketPlace {
    @include Flexed(flex, center, center, column);

    .MarketPlace-Frame {
      @include Flex-ItemsAndPosition(flex, center, column);
      gap: 10px;

      @include for-size(tablet) {
        width: 834px;
      }

      .Line {
        width: 1520px;
        height: 1px;
        background-color: var(--BackGround-Secondary);
      }

      .Frame {
        @include Flexed(flex, center, flex-start);

        .Tabs {
          display: flex;
          align-items: flex-start;

          .NFTs-Tab {
            @include Flexed(flex, center, center, row);
            height: 60px;
            padding: 0px 30px;
            gap: 16px;
            text-align: center;
            border-bottom: 1px solid;
            @include text-formatter(Work Sans, 22px, 600, 140%);
          }

          .Collections-Tab {
            @include Flexed(flex, center, center, row);
            height: 60px;
            padding: 0px 30px;
            gap: 16px;
            text-align: center;
            color: var(--CaptionAndLabelText);
            @include text-formatter(Work Sans, 22px, 600, 140%);
          }
        }
      }
    }

    .NFT-Cards_Section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 60px 0px 80px 0px;
      gap: 30px;
      margin: auto;

      @include for-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include for-size(phone) {
        grid-template-columns: repeat(1, 1fr);
      }

      .NFT-Card {
        @include Flex-ItemsAndPosition(flex, center, column);
        height: 469px;
        border-radius: 20px;
        transition: 0.3s;
        width: 330px;
        cursor: pointer;
        z-index: 10;

        &:hover {
          transform: scale(0.95);
        }

        .Image {
          @include Flex-ItemsAndPosition(flex, flex-start, column);
          gap: 10px;
          border-radius: 20px 20px 0px 0px;
        }

        .NFT-Info {
          @include Flex-ItemsAndPosition(flex, flex-start, column);
          padding: 20px 30px 25px 30px;
          gap: 25px;
          width: 100%;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          background-color: var(--BackGround-Secondary);

          .Artist-Info {
            @include Flex-ItemsAndPosition(flex, flex-start, column);
            gap: 5px;

            > h1 {
              @include text-formatter(Work Sans, 22px, 600, 140%);
            }

            .Artist-AvatarAndName {
              display: flex;
              align-items: flex-start;
              gap: 12px;

              .Avatar {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                img {
                  width: 24px;
                  height: 24px;
                }
              }

              h1 {
                @include text-formatter(Space Mono, 16px, 400, 140%);
              }
            }
          }

          .Additional-Info {
            display: flex;
            align-items: flex-start;
            gap: 50px;

            .Price {
              @include Flex-ItemsAndPosition(flex, flex-start, column);
              padding-right: 0px;
              gap: 8px;

              h1 {
                color: var(--CaptionAndLabelText);
                @include text-formatter(Space Mono, 12px, 400, 110%);
              }

              p {
                @include text-formatter(Space Mono, 16px, 400, 140%);
              }
            }

            .Highest-Bid {
              @include Flexed(flex, center, flex-end, column);
              gap: 8px;

              h1 {
                color: var(--CaptionAndLabelText);
                @include text-formatter(Space Mono, 12px, 400, 110%);
              }

              p {
                @include text-formatter(Space Mono, 16px, 400, 140%);
              }
            }
          }
        }
      }
    }
    .NoMore {
      display: none;
      margin-bottom: 40px;
      @include text-formatter(Space Mono, 26px, 400, 120%);
    }

    .Loader {
      display: grid;
      place-items: center;
      position: absolute;
      transform: translate(70px, 500px);

      #Loading-Info {
        @include text-formatter(Space Mono, 20px, 500, 100%);
      }

      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
      }
      @keyframes lds-facebook {
        0% {
          top: 8px;
          height: 64px;
        }
        50%,
        100% {
          top: 24px;
          height: 32px;
        }
      }
    }
  }
}
