@import "./base/reset";

@import "./utils/variables";
@import "./utils/mixins";

@import "./layout/navigation";
@import "./layout/footer";

@import "./components/buttons";
@import "./components/input";

@import "./pages/Home/Home";
@import "./pages/CreateAccount/CreateAccount";
@import "./pages/Login/Login";
@import "./pages/Artist-Detail/Artist-Detail";
@import "./pages/Not-Found/Not-Found";
@import "./pages/Rankings/Rankings";
@import "./pages/Marketplace/Marketplace";
