body {
  background-color: var(--BackGround);
}

html {
  color: var(--White);
}

.Container {
  width: 1050px;
}

#Hero_Section {
  @include Flexed(flex, center, center);
  padding: 80px 195px;
  gap: 30px;

  .Hero_Frame {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    .Frame_TextAndButtons {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;

      .HeadlineAndSubhead {
        display: flex;
        width: 510px;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        h1 {
          @include Flexed(flex, center);
          @include text-formatter(Work Sans, 67px, 600, 110%);
          text-transform: capitalize;
          flex-direction: column;
        }

        p {
          align-self: stretch;
          @include text-formatter(Work Sans, 22px, 400, 160%, capitalize);
        }
      }

      .AdditionalInfo {
        width: 510px;
        height: 77px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 30px;
        border-radius: 20px;

        .TotalSale {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          border-radius: 20px;

          h1 {
            @include text-formatter(Space Mono, 28px, 700, 140%, capitalize);
          }

          p {
            @include text-formatter(Space Mono, 24px, 700, 140%, capitalize);
          }
        }

        .Auctions {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          border-radius: 20px;

          h1 {
            @include text-formatter(Space Mono, 28px, 700, 140%, capitalize);
          }

          p {
            @include text-formatter(Space Mono, 24px, 700, 140%, capitalize);
          }
        }

        .Artists {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          border-radius: 20px;

          h1 {
            @include text-formatter(Space Mono, 28px, 700, 140%, capitalize);
          }

          p {
            @include text-formatter(Space Mono, 24px, 700, 140%, capitalize);
          }
        }
      }
    }

    .HighlightedNFT {
      height: 510px;
      @include Flex-ItemsAndPosition(flex, center, column);

      .NFTFrame {
        @include Flexed(flex, center, flex-start, column);
        height: 109px;
        width: 510px;
        padding: 20px;
        gap: 10px;
        border-radius: 0px 0px 20px 20px;
        background-color: var(--BackGround-Secondary);

        p {
          @include text-formatter(Work Sans, 22px, 600, 140%);
        }

        .Artist-Card {
          display: flex;
          align-items: flex-start;
          gap: 12px;

          p {
            cursor: pointer;
            @include text-formatter(Work Sans, 16px, 400, 140%);
          }
        }
      }
    }
  }
}

#TrendingCollection_Section {
  @include Flex-ItemsAndPosition(flex, center, column);
  gap: 60px;
  padding: 80px 0px;
  background-color: var(--BackGround);

  .Section-Headline {
    @include Flex-ItemsAndPosition(flex, flex-start, column);
    gap: 10px;

    .Heading {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      h1 {
        @include text-formatter(Work Sans, 38px, 600, 120%, capitalize);
      }
    }

    .Subhead {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      p {
        @include text-formatter(Work Sans, 22px, 400, 160%, capitalize);
      }
    }
  }

  .CardCollection-Row {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;

    .CollectionCard {
      @include Flex-ItemsAndPosition(flex, flex-start, column);
      border-radius: 20px;
      width: 330px;
      gap: 15px;
      flex-shrink: 0;

      .PhotosAndAdditional {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 15px;

        img {
          transition: 0.3s;

          &:hover {
            transform: scale(0.95);
          }
        }

        .AdditionalFrame {
          display: flex;
          align-items: flex-start;
          gap: 15px;
        }
      }

      .CollectionInfo {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 10px;

        h1 {
          @include text-formatter(Work Sans, 22px, 600, 140%);
        }

        .Artist-Card {
          display: flex;
          align-items: flex-start;
          gap: 12px;

          p {
            cursor: pointer;
            @include text-formatter(Work Sans, 16px, 400, 140%);
          }
        }
      }
    }
  }
}
