#Artist-Detail_Section {
  @include Flex-ItemsAndPosition(flex, flex-start, column);
  width: 1800px;
  position: relative;

  @include for-size(tablet) {
    width: 834px;
  }

  @include for-size(phone) {
    width: 375px;
  }

  .CoverAndProfileImage {
    @include Flex-ItemsAndPosition(flex, flex-start, column);
    gap: -70px;

    @include for-size(tablet) {
      align-items: center;
    }

    > img {
      width: 140%;
      height: 320px;
      background: linear-gradient(
          180deg,
          rgba(151, 71, 255, 0) 21.88%,
          #9747ff 95.31%
        ),
        url(<path-to-image>), lightgray 50% / cover no-repeat;

      @include for-size(tablet) {
        width: 140%;
        height: 280px;
      }

      @include for-size(phone) {
        width: 240%;
        height: 250px;
      }
    }

    .Profile-Image {
      @include Flex-ItemsAndPosition(flex, center, column);
      width: 599px;

      @include for-size(tablet) {
        width: 690px;
        align-items: flex-start;
      }

      @include for-size(phone) {
        width: 375px;
        justify-content: center;
        align-items: center;
      }

      .Avatar {
        @include Flex-ItemsAndPosition(flex, center);
        gap: 10px;
        border-radius: 20px;
        border: 2px solid var(--BackGround);
      }
    }
  }

  .Artist-Info-Container {
    @include Flex-ItemsAndPosition(flex, center, column);
    padding: 40px 0px;
    gap: 30px;

    @include for-size(tablet) {
      padding: 30px 50px;
    }

    @include for-size(phone) {
      padding: 30px 20px;
    }

    .Artist-Info-Section {
      @include Flex-ItemsAndPosition(flex, flex-start, column);
      width: 1050px;
      gap: 30px;

      @include for-size(tablet) {
        width: 690px;
      }

      @include for-size(tablet) {
        width: 315px;
      }

      .Artist-NameAndButton {
        @include Flex-ItemsAndPosition(flex, flex-start, row);
        width: 1600px;
        justify-content: space-evenly;
        gap: 100px;

        @include for-size(tablet) {
          width: 690px;
          gap: 50px;
          flex-direction: column;
        }

        @include for-size(phone) {
          width: 315px;
        }

        .Artist-Info {
          @include Flex-ItemsAndPosition(flex, flex-start, column);
          width: 599px;
          gap: 30px;

          @include for-size(phone) {
            width: 315px;
          }

          > h1 {
            width: 100%;
            @include text-formatter(Work Sans, 51px, 600, 110%);

            @include for-size(tablet) {
              @include text-formatter(Work Sans, 38px, 600, 120%);
            }

            @include for-size(phone) {
              @include text-formatter(Work Sans, 28px, 600, 140%);
            }
          }

          .Stats {
            @include Flex-ItemsAndPosition(flex, flex-start, row);
            width: 510px;
            gap: 20px;
            border-radius: 20px;

            @include for-size(phone) {
              width: 315px;
            }

            h1 {
              width: 210px;
              @include text-formatter(Work Sans, 51px, 600, 110%);

              @include for-size(phone) {
                width: 100px;
              }
            }

            .Volume {
              @include Flex-ItemsAndPosition(flex, flex-start, column);
              border-radius: 20px;

              h1 {
                @include text-formatter(Space Mono, 28px, 700, 140%);

                @include for-size(tablet) {
                  @include text-formatter(Space Mono, 22px, 700, 160%);
                }
              }

              p {
                @include text-formatter(Work Sans, 22px, 400, 160%);

                @include for-size(tablet) {
                  @include text-formatter(Work Sans, 16px, 400, 140%);
                }
              }
            }

            .NFTs-Sold {
              @include Flex-ItemsAndPosition(flex, flex-start, column);
              border-radius: 20px;

              h1 {
                @include text-formatter(Space Mono, 28px, 700, 140%);

                @include for-size(tablet) {
                  @include text-formatter(Space Mono, 22px, 700, 160%);
                }
              }

              p {
                @include text-formatter(Work Sans, 22px, 400, 160%);

                @include for-size(tablet) {
                  @include text-formatter(Work Sans, 16px, 400, 140%);
                }
              }
            }

            .Followers {
              @include Flex-ItemsAndPosition(flex, flex-start, column);
              border-radius: 20px;

              h1 {
                @include text-formatter(Space Mono, 28px, 700, 140%);

                @include for-size(tablet) {
                  @include text-formatter(Space Mono, 22px, 700, 160%);
                }
              }

              p {
                @include text-formatter(Work Sans, 22px, 400, 160%);

                @include for-size(tablet) {
                  @include text-formatter(Work Sans, 16px, 400, 140%);
                }
              }
            }
          }

          .Bio {
            @include Flex-ItemsAndPosition(flex, flex-start, column);
            gap: 10px;

            h1 {
              @include text-formatter(Space Mono, 28px, 700, 140%);

              @include for-size(tablet) {
                @include text-formatter(Space Mono, 16px, 700, 140%);
              }
            }

            p {
              @include text-formatter(Work Sans, 22px, 400, 160%);

              @include for-size(tablet) {
                @include text-formatter(Work Sans, 16px, 400, 140%);
              }
            }
          }

          .Web-Links {
            h1 {
              @include text-formatter(Space Mono, 22px, 700, 160%);
              color: var(--CaptionAndLabelText);

              @include for-size(tablet) {
                @include text-formatter(Space Mono, 16px, 700, 140%);
              }
            }

            .Icons {
              display: flex;
              align-items: flex-start;
              gap: 10px;
              margin-top: 10px;

              @include for-size(tablet) {
                height: 24;
              }

              img {
                cursor: pointer;
              }
            }
          }
        }

        .CTAs {
          @include Flexed(flex, flex-end, flex-start);
          gap: 20px;

          @include for-size(tablet) {
            align-items: flex-start;
          }

          @include for-size(phone) {
            flex-direction: column;
          }

          button {
            @include text-formatter(Work Sans, 16px, 600, 140%);
          }
        }
      }
    }
  }

  .Artist-Frame {
    @include Flex-ItemsAndPosition(flex, center, column);
    gap: 10px;

    .Line {
      width: 1700px;
      height: 1px;
      background-color: var(--BackGround-Secondary);

      @include for-size(tablet) {
        width: 690px;
      }

      @include for-size(phone) {
        padding-left: 800px;
        width: 375px;
      }
    }

    .Tab-Frame {
      display: flex;
      width: 1050px;
      align-items: flex-start;
      justify-content: center;

      @include for-size(tablet) {
        width: 680px;
      }

      @include for-size(phone) {
        width: 315px;
      }

      .Tabs {
        @include Flex-ItemsAndPosition(flex, flex-start, row);
        padding-right: 150px;

        @include for-size(phone) {
          padding-right: 400px;
          gap: 40px;
        }

        .Created {
          color: white !important;
          border-bottom: 2px solid white;

          // :after {
          //   content: "";
          //   position: absolute;
          //   bottom: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 2px;
          //   background-color: white;
          // }
        }

        .Tab {
          @include Flexed(flex, center, center, row);
          height: 60px;
          padding: 0px 30px;
          position: relative;
          color: var(--CaptionAndLabelText);

          @include for-size(phone) {
            padding: 0px 10px;
          }

          h1 {
            text-align: center;
            @include text-formatter(Work Sans, 22px, 600, 140%);

            @include for-size(tablet) {
              @include text-formatter(Work Sans, 16px, 600, 140%);
            }
          }
        }
      }
    }
  }

  .NFT-Cards-Section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 300px;
    gap: 30px;

    @include for-size(tablet) {
      grid-template-columns: repeat(2, 1fr);
      padding: 80px 20px;
    }

    @include for-size(phone) {
      grid-template-columns: repeat(1, 1fr);
      padding: 80px 30px;
    }

    > h1 {
      @include text-formatter(Space Mono, 30px, 600, 120%);
    }

    .NFT-Card {
      @include Flex-ItemsAndPosition(flex, center, column);
      height: 469px;
      border-radius: 20px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
      }

      .Image {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 10px;
        border-radius: 20px 20px 0px 0px;
      }

      .NFT-Info {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        padding: 20px 30px 25px 30px;
        gap: 25px;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: var(--BackGround-Secondary);

        .Artist-Info {
          @include Flex-ItemsAndPosition(flex, flex-start, column);
          gap: 5px;

          > h1 {
            @include text-formatter(Work Sans, 22px, 600, 140%);
          }

          .Artist-AvatarAndName {
            display: flex;
            align-items: flex-start;
            gap: 12px;

            .Avatar {
              display: flex;
              align-items: flex-start;
              gap: 10px;

              img {
                width: 24px;
                height: 24px;
              }
            }

            h1 {
              @include text-formatter(Space Mono, 16px, 400, 140%);
            }
          }
        }

        .Additional-Info {
          display: flex;
          align-items: flex-start;
          gap: 50px;

          .Price {
            @include Flex-ItemsAndPosition(flex, flex-start, column);
            padding-right: 0px;
            gap: 8px;

            h1 {
              color: var(--CaptionAndLabelText);
              @include text-formatter(Space Mono, 12px, 400, 110%);
            }

            p {
              @include text-formatter(Space Mono, 16px, 400, 140%);
            }
          }

          .Highest-Bid {
            @include Flexed(flex, center, flex-end, column);
            gap: 8px;

            h1 {
              color: var(--CaptionAndLabelText);
              @include text-formatter(Space Mono, 12px, 400, 110%);
            }

            p {
              @include text-formatter(Space Mono, 16px, 400, 140%);
            }
          }
        }
      }
    }
  }

  .Loader {
    display: grid;
    place-items: center;
    position: absolute;
    transform: translate(650px, 400px);

    #Loading-Info {
      @include text-formatter(Space Mono, 20px, 500, 100%);
    }

    .lds-facebook {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 16px;
      background: #fff;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 8px;
        height: 64px;
      }
      50%,
      100% {
        top: 24px;
        height: 32px;
      }
    }
  }
}
