.Subscribe-Form {
  @include Flex-ItemsAndPosition(flex, center, column);
  position: relative;

  > p {
    @include text-formatter(Work Sans, 16px, 400, 140%);
    margin-top: 10px;
    height: 20px;
    width: 430px;

    @include for-size(phone) {
      margin-right: 40px;
    }
  }

  input {
    @include Input();
    @include text-formatter(Work Sans, 16px, 400, 140%);
    border: 1px solid var(--CaptionAndLabelText);

    @include for-size(tablet) {
      @include Input(405px, 28px, 16px 0px 16px 20px, 12px);
    }

    @include for-size(phone) {
      @include Input(275px, 14px, 16px 20px, 12px);
      margin-right: 200px;
    }
  }
}

.Typeform {
  @include Flex-ItemsAndPosition(flex, center, row);

  @include for-size(phone) {
    transform: translateX(-30px);
  }

  img {
    transform: translateX(30px);
  }

  input {
    @include Input(290px, 16px, 16px 20px 16px 40px, 12px);
    background-color: var(--White);
    border: 1px solid var(--CaptionAndLabelText);

    @include for-size(tablet) {
      @include Input(285px, 16px, 16px 20px 16px 40px, 12px);
    }

    &::placeholder {
      color: black;
    }
  }
}

.True {
  color: green !important;
}

.False {
  color: red !important;
}
