#Login_Section {
  @include Flex-ItemsAndPosition(flex, center);
  gap: 60px;
  position: relative;

  @include for-size(tablet) {
    gap: 40px;
  }

  @include for-size(phone) {
    padding: 20px 0px;
    @include Flexed(flex, center, center, column);
  }

  > img {
    width: 610px;
    height: 691px;

    @include for-size(tablet) {
      width: 397px;
      height: 100%;
    }

    @include for-size(phone) {
      width: 375px;
      height: 100%;
    }
  }

  .Login-Form {
    @include Flex-ItemsAndPosition(flex, flex-start, column);
    padding: 100px 0px;
    gap: 40px;
    margin: auto;

    @include for-size(tablet) {
      padding: 80px 0px;
    }

    @include for-size(phone) {
      @include Flex-ItemsAndPosition(flex, center, column);
      width: 315px;
      padding: 30px 0px 40px 0px;
      gap: 30px;
    }

    .HeadlineAndSubhead {
      @include Flex-ItemsAndPosition(flex, flex-start, column);
      gap: 20px;

      @include for-size(phone) {
        width: 315px;
      }

      .Headline {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 10px;

        h1 {
          @include text-formatter(Work Sans, 51px, 600, 110%);

          @include for-size(tablet) {
            @include text-formatter(Work Sans, 38px, 600, 120%);
          }
        }
      }

      .Subhead {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 10px;
        width: 460px;

        p {
          width: 330px;
          white-space: wrap;
          @include text-formatter(Work Sans, 22px, 400, 160%);

          @include for-size(tablet) {
            @include text-formatter(Work Sans, 16px, 600, 140%);
          }
        }
      }
    }

    .Form {
      @include Flex-ItemsAndPosition(flex, center, column);
      width: 330px;
      gap: 30px;

      @include for-size(tablet) {
        margin-left: 40px;
      }

      @include for-size(phone) {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
      }

      .Typeforms {
        @include Flex-ItemsAndPosition(flex, flex-start, column);
        gap: 10px;
        margin: auto;

        @include for-size(tablet) {
          transform: translateX(-50px);
        }

        @include for-size(phone) {
          transform: translateX(0px);
        }

        p {
          @include text-formatter(Work Sans, 16px, 400, 140%);
          height: 20px;
          margin-left: 30px;
          width: 430px;
        }
      }

      .SendToCreateAccount {
        display: grid;
        place-items: center;
        padding: 30px 0px;

        p {
          @include text-formatter(Work Sans, 20px, 600, 140%);
        }

        a {
          @include Flexed(flex, center, center);
          @include text-formatter(Work Sans, 16px, 600, 140%);
          height: 46px;
          color: var(--CallToAction);
          text-align: center;
          text-decoration: none;
          padding: 0px 20px;
          gap: 12px;
          border-radius: 20px;
          transition: 0.3s;

          &:hover {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
