@mixin text-formatter(
  $font-family,
  $font-size,
  $font-weight,
  $line-height: normal,
  $letter-spacing: normal,
  $font-style: normal,
  $text-transform: normal
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: $font-style;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

@mixin Flexed(
  $display: normal,
  $justify-content: normal,
  $align-items: normal
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin Button(
  $height: normal,
  $padding: normal,
  $background-color: var(--CallToAction),
  $gap: normal,
  $border-radius: normal,
  $border: none,
  $transition: 0.3s
) {
  height: $height;
  padding: $padding;
  background-color: $background-color;
  gap: $gap;
  border-radius: $border-radius;
  border: $border;
  transition: $transition;
}
